{% extends 'base.html.twig' %}

{% block nomDeLaPage %}
 <h1> Entreprises </h1>
{% endblock %}

{% block tableauDeLaPage %}

 
<table class="table">

  <thead>
    <tr>
      <th scope="col">Numéro</th>
      <th scope="col">Intitulé</th>
      <th scope="col">Entreprise</th>
      <th scope="col">Contact</th>
      <th scope="col">Description Complète</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Developpeur Web Symfony</td>
      <td>RedMoot</td>
      <td>redmoot@contact.fr</td>
      <td><a href="{{path('pro_stage_stages',{id:1})}}"> En savoir plus <i class="icon-left-hand-1"></i></a></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Developpeur Java</td>
      <td>2MoRo</td>
      <td>2MORO@contact.fr</td>
      <td><a href="{{path('pro_stage_stages',{id:2})}}"> En savoir plus <i class="icon-left-hand-1"></i></a></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Chef de projet</td>
      <td>MarquaIndustries</td>
      <td>cricri.marqua@byebush.fr</td>
      <td><a href="{{path('pro_stage_stages',{id:3})}}"> En savoir plus <i class="icon-left-hand-1"></i></a></td>
    </tr>
  </tbody>
</table>
{% endblock %}
        

