{% extends 'base.html.twig' %}
{% block nomDeLaPage %}
<h1>Formations</h1>
{% endblock %}

{% block tableauDeLaPage %}
<thead>
  <tr>
  <th scope="col">Nom de la formation</th>
  <th scope="col">Stages</th>
  </tr>
</thead>

<tbody>
  {% for formation in listeFormations %}
  <tr>
      <th scope="row"> {{ formation.nomLong }} </th>
      <td><a href="{{path('pro_stage_stages',{id:1})}}"> Voir les stages disponibles <i class="icon-left-hand-1"></i></a></td>
  </tr>
  {% endfor %}
</tbody>

{% endblock %}

