{% extends 'base.html.twig' %}

{% block nomDeLaPage %}
  <h1>Formations</h1>
{% endblock %}

{% block tableauDeLaPage %}
  
    {% for formation in listeFormations %}
      <div class="card">
        <div class="container">
          {{ formation.nomLong }}
          <a href="{{path('pro_stage_voir_stages_formation',{nomFormation:formation.nomCourt})}}"> Voir les stages disponibles <i class="icon-left-hand"></i></a>
        </div>
      </div>
    {% endfor %}


{% endblock %}

