{% extends 'base.html.twig' %}

{% block title %}Salut bienvenue!{% endblock %}

{% block body %}

<h1> Bienvenue sur ProStage, votre site pour trouver votre stage</h1>

<p>
    <ul>
        <li><a href="entreprises">Filtrer par entreprises</a></li>
        <li><a href="formations">Filtrer par formations</a></li>
    </ul>


</p>

{% endblock %}
