{% extends 'base.html.twig' %}


{% block contenu %}


<a href="{{path('pro_stage_stages',{id:1})}}"> Stage 1</a>
<a href="{{path('pro_stage_stages',{id:2})}}"> Stage 2</a>
<a href="{{path('pro_stage_stages',{id:3})}}"> Stage 3</a>
<a href="{{path('pro_stage_stages',{id:4})}}"> Stage 4</a>
 
{% endblock %}

