{% extends 'base.html.twig' %}

{% block title %}Salut bienvenue!{% endblock %}

{% block body %}



<ul>
        <li><a href="{{path('pro_stage_stages',{id:1})}}"> Stage 1</a></li>
        <li><a href="{{path('pro_stage_stages',{id:2})}}"> Stage 2</a></li>
		<li><a href="{{path('pro_stage_stages',{id:3})}}"> Stage 3</a></li>
        <li><a href="{{path('pro_stage_stages',{id:4})}}"> Stage 4</a></li>
 </ul>

{% endblock %}
