[class=row]
{
    text-align: center;
    line-height: 35px;
    border-radius: 6px;
    margin-top:40px;
    padding: 20px;
}

#logo {
    text-align: center;
    width: 400px;
    background: #D8BFD8;
    border-radius: 20px;
    padding: 20px;
    margin: 90px auto;
    box-shadow: 0 0 20px #222;
}