[class=base]
{
    text-align: center;
    line-height: 35px;
    border-radius: 6px;
    margin-top:60px;
    padding: 20px;
}

#logo {
    text-align: center;
    width: 400px;
    background: #c9e2f8;
    border-radius: 30px;
    padding: 20px;
    margin: 60px auto;
    box-shadow: 0 0 20px rgb(0, 0, 0);
}

h2{

    margin-bottom: 10px;
}
